@import "mixin";
@import "mainfile";
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;
  z-index: 1000;

  &.scrolled {
    background: #202020;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5);
  }
  .container {
    @include container;

    .main-text {
      color: #fff;
      font-family: DynaPuff;
      font-size: 60px;
      white-space: normal;
      padding-bottom: 119px;
      padding-top: 401px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .container-header {
      width: 100%;
      display: flex;

      .logo {
        display: flex;
        padding-right: 403px;
        margin-top: 41px;
        transition: margin-top 0.3s ease;
        &.scrolled {
          margin-top: 5px;
        }
        .burger-menu {
          display: none;
        }
      }

      .nav-menu {
        .ul-menu {
          margin-top: 48px;
          display: flex;
          transition: margin-top 0.3s ease;
          gap: 20px;
          &.scrolled {
            margin-top: 10px;
          }
          li {
            list-style: none;
            a {
              text-decoration: none;
              button {
                color: #fff;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border: 1px solid #fff;
                border-radius: 20px;
                background: none;
                display: flex;
                padding: 10px 16px;
                justify-content: center;
                align-items: center;
                gap: 12px;
              }
            }
          }
        }
      }
    }
  }
}

main {
  .title {
    .container {
      @include container;
      .main-text {
        color: #fff;
        font-family: DynaPuff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        padding-top: 401px;
        padding-bottom: 119px;
        line-height: normal;
        width: 846px;
        height: 190px;
      }
    }
  }

  .stat {
    @include stat;

    .container {
      @include container;
      .frame {
        @include frame;
        .frame-head {
          @include frame-head;
        }
        .frame-after {
          @include frame-after;
        }
        .container-number__flex {
          @include container-number__flex;
          .container-number {
            .number {
              @include number;
            }
            .number-text {
              @include number-text;
            }
          }
        }
      }
      .container-frame__elipse {
        display: flex;
        .desktop-elipse {
          position: absolute;
          top: 80%;
          right: 0%;
        }
        .tablet-elipse {
          display: none;
        }
        .mobile-elipse {
          display: none;
        }
      }
    }
  }
}

.project {
  display: flex;
  width: 100%;
  height: 1460px;
  background: #3c3c3c;
  .container {
    @include container;
    padding-top: 86px;
    .project-card {
      background: #fffef2;
      display: flex;
      flex-direction: column;
      padding: 24px 20px;
      border-radius: 24px;
    }
    .image-main {
      // background-image: url("../images/Frame\ 17.png");
      // background-repeat: no-repeat;
      // width: 1010px;
      // height: 498px;
      // padding-bottom: 20px;
    }
  }
  .header-project {
    color: #565656;
    font-family: DynaPuff;
    font-size: 40px;
    font-style: normal;
    padding-bottom: 22px;
    font-weight: 600;
    line-height: normal;
  }
  .text-project {
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    width: 580px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.project-card__second {
  padding-top: 63px;
  display: flex;
  gap: 40px;
  .one-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 283px;
    max-height: 545px;
    background: #fffef2;
    border-radius: 24px;
    background: #fffef2;
    .one-card img {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding-bottom: 40px;
      object-fit: contain;
    }
    .header-text__card {
      color: #565656;
      font-family: DynaPuff;
      font-size: 24px;
      align-self: stretch;
      padding-top: 20px;

      box-sizing: border-box;
      width: 285px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .text-card {
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    // box-sizing: border-box;
    padding-top: 22px;
    font-weight: 500;
    line-height: normal;
  }
}

.design {
  background: #202020;
  .container {
    @include container;

    h5 {
      color: #fff;
      font-family: DynaPuff;
      font-size: 80px;
      height: 108px;
      padding-top: 82px;
      padding-bottom: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .svg-one {
      position: absolute;
      display: flex;
      padding-top: 67px;
      padding-left: 391px;
    }
    .svg-two {
      position: absolute;
      display: flex;
      padding-top: 111px;
      padding-left: 164px;
    }
    .svg-three {
      position: absolute;
      display: flex;
      padding-top: 94px;
      padding-left: 141px;
    }
    .svg-one__tablet {
      display: none;
    }
    .svg-two__tablet {
      display: none;
    }
    .svg-three__tablet {
      display: none;
    }

    .svg-one__mobile {
      display: none;
    }
    .svg-two__mobile {
      display: none;
    }
    .svg-three__mobile {
      display: none;
    }
    .main-photo {
      position: relative;
      width: 100%;
      height: 414px;
      background-image: url("../images/unsplash_rqIfy1UyIzE.png");
      background-size: cover;
      background-position: center;

      &::before {
        content: "";
        position: absolute;
        margin-top: 67px;
        margin-left: 391px;
        width: 268px;
        height: 268px;
        background-image: url("../images/Soft\ Star.svg");
        background-repeat: no-repeat;
      }
    }
    .container-second {
      display: flex;
      justify-content: space-between;
      padding-top: 26px;
      padding-bottom: 138px;
      gap: 26px;
      .one-photo {
        position: relative;
        background-image: url("../images/Rectangle\ 6.png");
        width: 514px;
        height: 414px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 187px;
          height: 192px;
          background-image: url("../images/Butterfly.svg");
          background-repeat: no-repeat;
        }
      }
      .two-photo {
        position: relative;
        background: url("../images/Rectangle\ 7.png");
        background-repeat: no-repeat;
        width: 514px;
        height: 414px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 233px;
          height: 225px;
          background-image: url("../images/Asterisk\ 1.svg");
          background-repeat: no-repeat;
        }
      }
    }
  }
}
.after-design {
  background-image: url("../images/Rectangle\ 8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  .container {
    @include container;
    h2 {
      width: 1059px;
      color: #fff;
      display: flex;
      justify-content: center;
      padding-top: 303px;
      text-align: center;
      font-family: DynaPuff;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

footer {
  width: 100%;
  height: 530px;
  background: #202020;
  .container {
    @include container;
    button {
      padding: 42px 137px;
      width: 100%;
      height: 192px;
      gap: 10px;
      margin-top: 78px;
      background: none;
      border-radius: 139px;
      border: 1px solid var(--Gray-6, #f2f2f2);
      .container-button__footer {
        display: flex;
        .logo-footer {
          .svg-mobile__footer {
            display: none;
          }
        }
        .content-footer {
          padding-left: 45px;
          a {
            color: #fff;
            text-decoration: none;
            text-align: center;
            font-family: DynaPuff;
            font-size: 48px;
            font-style: normal;
            padding-bottom: 10px;
            font-weight: 700;
            line-height: normal;
          }
          .footer-text {
            color: #fff;
            text-align: center;
            font-family: Manrope;
            font-size: 24px;
            display: flex;
            gap: 24px;
            font-style: normal;
            align-items: center;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
    .social-media {
      display: flex;
      justify-content: center;
      margin-top: 163px;
      gap: 34px;
    }
    .footer-copyright {
      color: #fff;
      text-align: center;
      padding-top: 21px;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

//TABLET FORMAT
@media (min-width: 768px) and (max-width: 1200px) {
  body {
    header {
      display: flex;
      // justify-content: space-between;
      height: 93px;
      &.scrolled {
        display: none;
      }
      .container {
        @include container-tablet;

        .container-header {
          .logo {
            display: flex;
            justify-content: space-between;
            gap: 585px;
            padding-right: 20px;
            .burger-menu {
              display: block;
              justify-content: center;
              align-items: flex-start;
              width: 56px;
              height: 56px;
            }
          }
        }
        .nav-menu {
          display: none;
          .ul-menu {
          }
        }
      }
    }
  }

  main {
    .title {
      @include container-tablet;
      .container {
        @include container-tablet;
        .main-text {
          color: #fff;
          font-family: DynaPuff;
          font-size: 80px;
          font-style: normal;
          font-weight: 700;
          padding-top: 273px;
          line-height: normal;
          width: 521px;
          height: 393px;
        }
      }
    }

    .stat {
      @include stat;
      // max-width: 540px;
      // max-height: 267px;
      height: 100%;
      width: 100%;
      .container {
        @include container-tablet;
        .frame {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          padding-top: 101px;
          padding-bottom: 102px;
          gap: 40px;
          .frame-head {
            color: #faeb49;
            font-family: DynaPuff;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .frame-after {
            color: #fff;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          .container-number__flex {
            display: flex;
            gap: 96px;
            .container-number {
              .number {
                color: #fff;
                font-family: DynaPuff;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              .number-text {
                color: #fff;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
            }
          }
        }
        .container-frame__elipse {
          .desktop-elipse {
            position: absolute;
            top: 88%;
            right: 0%;
          }
          .tablet-elipse {
            display: block;
            position: absolute;
          }

          .mobile-elipse {
            display: block;
            position: absolute;
          }
        }
      }
    }

    .project {
      display: flex;
      width: 100%;
      height: 1590px;
      background: #3c3c3c;
      .container {
        @include container-tablet;
        padding-top: 52px;
        .project-card {
          background: #fffef2;
          display: flex;
          width: 663px;
          height: 632px;
          flex-direction: column;
          padding: 24px 20px;
          border-radius: 24px;
          .image-main {
            display: block;
          }
        }
      }
      .header-project {
        color: #565656;
        font-family: DynaPuff;
        font-size: 40px;
        font-style: normal;
        padding-bottom: 22px;
        font-weight: 600;
        line-height: normal;
      }
      .text-project {
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        width: 580px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .project-card__second {
      padding-top: 63px;
      display: flex;
      gap: 40px;
      .one-card {
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: 293px;
        max-height: 100%;
        height: 100%;
        background: #fffef2;
        border-radius: 24px;
        background: #fffef2;
        .one-card img {
          box-sizing: border-box;
          padding-bottom: 20px;
          width: 293px;
          height: 448px;
        }
        &:nth-child(3) {
          display: none;
        }
        .header-text__card {
          color: #565656;
          font-family: DynaPuff;
          font-size: 24px;
          align-self: stretch;
          padding-top: 20px;
          box-sizing: border-box;
          width: 285px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      .text-card {
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        padding-top: 22px;
        font-weight: 500;
        line-height: normal;
        width: 286px;
        box-sizing: border-box;
      }
    }

    .design {
      background: #202020;
      .container {
        @include container-tablet;

        h5 {
          color: #fff;
          font-family: DynaPuff;
          font-size: 80px;
          height: 108px;
          padding-top: 82px;
          padding-bottom: 38px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .svg-one {
          display: none;
        }
        .svg-two {
          display: none;
        }
        .svg-three {
          display: none;
        }

        .svg-one__tablet {
          position: absolute;
          display: flex;
          padding-top: 93px;
          padding-left: 239px;
        }
        .svg-two__tablet {
          position: absolute;
          display: flex;
          padding-top: 87px;
          padding-left: 94px;
        }
        .svg-three__tablet {
          position: absolute;
          display: flex;
          padding-top: 74px;
          padding-left: 75px;
        }

        .svg-one__mobile {
          display: none;
        }
        .svg-two__mobile {
          display: none;
        }
        .svg-three__mobile {
          display: none;
        }
        .main-photo {
          position: relative;
          width: 100%;
          height: 414px;
          background-image: url("../images/Tablet/unsplash_rqIfy1UyIzE\ \(1\).png");
          background-position: center;
          border-radius: 40px;

          &::before {
            content: "";
            position: absolute;
            width: 227px;
            height: 227px;
            background-image: url("../images/Tablet/Soft\ Star.png");
            margin-top: 93px;
            margin-left: 239px;
          }
        }
        .container-second {
          display: flex;
          justify-content: space-between;
          padding-top: 26px;
          padding-bottom: 129px;
          gap: 26px;
          .one-photo {
            position: relative;
            background-image: url("../images/Tablet/Rectangle\ 6\ \(1\).png");
            width: 336px;
            height: 325px;
            border-radius: 40px;

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 147px;
              height: 151px;
              background-image: url("../images/Tablet/Butterfly.png");
              background-repeat: no-repeat;
            }
          }
          .two-photo {
            position: relative;
            background: url("../images/Tablet/Rectangle\ 7\ \(1\).png");
            background-repeat: no-repeat;
            width: 334px;
            height: 325px;
            border-radius: 40px;

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 183px;
              height: 177px;
              background-image: url("../images/Tablet/Asterisk\ 1.png");
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
    .after-design {
      background-image: url("../images/Rectangle 8.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 800px;
      .container {
        @include container-tablet;
        h2 {
          width: 704px;
          color: #fff;
          display: flex;
          justify-content: center;
          padding-top: 274px;
          text-align: center;
          font-family: DynaPuff;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
  footer {
    width: 100%;
    height: 100%;
    background: #202020;
    .container {
      @include container-tablet;
      button {
        margin-top: 96px;
        width: 714px;
        height: 150px;
        padding: 42px 137px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 139px;
        border: 1px solid var(--Gray-6, #f2f2f2);
        .container-button__footer {
          .logo-footer {
            .svg-mobile__footer {
              display: none;
            }
          }
          .content-footer {
            a {
              color: #fff;
              text-align: center;
              width: 487px;
              white-space: nowrap;
              font-family: DynaPuff;
              font-size: 48px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            .footer-text {
              padding-top: 17px;
            }
          }
        }
      }
      .social-media {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        gap: 34px;
      }
      .footer-copyright {
        color: #fff;
        text-align: center;
        padding-top: 21px;
        padding-bottom: 35px;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

//MOBILE FORMAT
@media (min-width: 320px) and (max-width: 768px) {
  body {
    // width: 375px;

    header {
      display: flex;
      // width: 100%;

      &.scrolled {
        display: none;
      }
      .container {
        @include container-mobile;

        .container-header {
          @include container-mobile;

          .logo {
            @include container-mobile;

            display: flex;
            justify-content: space-between;
            gap: 230px;
            .burger-menu {
              display: block;
              align-items: flex-start;
              width: 56px;
              height: 56px;
            }
          }
        }
        .nav-menu {
          display: none;
          .ul-menu {
          }
        }
      }
    }
    main {
      .title {
        @include container-mobile;
        .container {
          @include container-mobile;
          .main-text {
            color: #fff;
            font-family: DynaPuff;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 326px;
            height: 239px;
          }
        }
      }

      .stat {
        @include stat;

        .container {
          @include container-mobile;
          .frame {
            .frame-head {
              color: #faeb49;
              font-family: DynaPuff;
              font-size: 36px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            .frame-after {
              color: #fff;
              font-family: Manrope;
              font-size: 16px;
              width: 342px;
              font-style: normal;
              padding: 40px 0 40px 0;
              width: 342px;
              font-weight: 500;
              line-height: normal;
            }
            .container-number__flex {
              display: flex;
              gap: 14px;
              .container-number {
                .number {
                  color: #fff;
                  font-family: DynaPuff;
                  font-size: 36px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
                .number-text {
                  color: #fff;
                  font-family: Manrope;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
              }
            }
          }
          .container-frame__elipse {
            .desktop-elipse {
              display: block;
              position: absolute;
              top: 102%;
            }
            .tablet-elipse {
              display: block;
              position: absolute;
            }
            .mobile-elipse {
              display: block;
              position: absolute;
              top: 90%;
            }
          }
        }
      }

      .project {
        display: flex;
        // width: 100%;
        // height: 100%;
        padding-bottom: 97px;
        background: #3c3c3c;
        .container {
          @include container-tablet;
          // padding-top: 52px;
          .project-card {
            background: #fffef2;
            display: flex;
            // max-width: 311px;
            // max-height: 456px;
            flex-direction: column;
            padding: 16px;
            border-radius: 24px;
            // .image-main {
            //   display: block;
            // }
          }
        }
        .header-project {
          color: #565656;
          font-family: DynaPuff;
          font-size: 32px;
          font-style: normal;
          width: 311px;
          padding-top: 20px;
          padding-bottom: 22px;
          font-weight: 600;
          line-height: normal;
        }
        .text-project {
          color: #000;
          font-family: Manrope;
          font-size: 15px;
          max-width: 311px;
          // max-height: 456px;
          height: 100%;
          // width: 100%;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      .project-card__second {
        padding-top: 75px;
        display: flex;
        gap: 40px;
        .one-card {
          display: flex;
          flex-direction: column;
          padding: 12px;
          max-width: 319px;
          height: 100%;
          background: #fffef2;
          border-radius: 24px;
          background: #fffef2;
          .one-card img {
            box-sizing: border-box;
            padding-bottom: 20px;
            width: 319px;
            height: 363px;
          }
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(3) {
            display: none;
          }
          .header-text__card {
            color: #565656;
            font-family: DynaPuff;
            font-size: 24px;
            align-self: stretch;
            padding-top: 20px;
            box-sizing: border-box;
            width: 285px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }

        .text-card {
          color: #000;
          font-family: Manrope;
          font-size: 16px;
          font-style: normal;
          padding-top: 22px;
          font-weight: 500;
          line-height: normal;
          width: 286px;
          box-sizing: border-box;
        }
      }

      .design {
        background: #202020;

        .container {
          @include container-mobile;

          h5 {
            color: #fff;
            font-family: DynaPuff;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 327px;
            height: 54px;
            padding-top: 58px;
            padding-bottom: 38px;
          }
          picture {
            display: flex;
            justify-content: center;
            align-items: center;
            .svg-one {
              display: none;
            }
            .svg-two {
              display: none;
            }
            .svg-three {
              display: none;
            }

            .svg-one__tablet {
              display: none;
            }
            .svg-two__tablet {
              display: none;
            }
            .svg-three__tablet {
              display: none;
            }
            .svg-one__mobile {
              position: absolute;
              display: flex;
              // padding-top: 77px;
              // padding-left: 86px;
            }
            .svg-two__mobile {
              position: absolute;
              display: flex;
              // padding-top: 94px;
              // padding-left: 105px;
            }
            .svg-three__mobile {
              position: absolute;
              display: flex;
              // padding-top: 91px;
              // padding-left: 98px;
            }
            .main-photo {
              position: relative;
              width: 100%;
              height: 414px;
              background-image: url("../images/Tablet/unsplash_rqIfy1UyIzE\ \(1\).png");
              background-position: center;
              border-radius: 40px;

              &::before {
                content: "";
                position: absolute;
                width: 227px;
                height: 227px;
                background-image: url("../images/Tablet/Soft\ Star.png");
                margin-top: 93px;
                margin-left: 239px;
              }
            }
          }
          .container-second {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-top: 20px;
            // padding-bottom: 129px;
            gap: 26px;
            .one-photo {
              position: relative;
              background-image: url("../images/Tablet/Rectangle\ 6\ \(1\).png");
              width: 336px;
              height: 325px;
              border-radius: 40px;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 147px;
                height: 151px;
                background-image: url("../images/Tablet/Butterfly.png");
                background-repeat: no-repeat;
              }
            }
            .two-photo {
              position: relative;
              background: url("../images/Tablet/Rectangle\ 7\ \(1\).png");
              background-repeat: no-repeat;
              width: 334px;
              height: 325px;
              border-radius: 40px;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 183px;
                height: 177px;
                background-image: url("../images/Tablet/Asterisk\ 1.png");
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
      .after-design {
        background-image: url("../images/Wallpaper-mobile.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // max-width: 375px;
        width: 100%;
        .container {
          @include container-mobile;
          h2 {
            width: 343px;
            height: 145px;
            padding-top: 180px;
            padding-bottom: 173px;
            justify-content: center;
            display: flex;

            color: #fff;
            text-align: center;
            font-family: DynaPuff;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
    footer {
      width: 100%;
      height: 100%;

      background: #202020;
      .container {
        @include container-mobile;
        button {
          // display: flex;
          width: 342px;
          height: 72px;
          padding: 42px 137px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 139px;
          border: 1px solid var(--Gray-6, #f2f2f2);
          .container-button__footer {
            .logo-footer {
              .svg-main__footer {
                display: none;
              }
              .svg-mobile__footer {
                display: block;
              }
            }
            .content-footer {
              padding-left: 20px;
              a {
                color: #fff;
                text-align: center;
                font-family: DynaPuff;
                font-size: 20px;
                width: 203px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              .footer-text {
                color: #fff;
                text-align: center;
                font-family: Manrope;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                svg {
                  width: 32.788px;
                  height: 15.5px;
                }
              }
            }
          }
        }
        .social-media {
          display: flex;
          justify-content: center;
          margin-top: 113px;
          gap: 34px;
        }
        .footer-copyright {
          color: #fff;
          text-align: center;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}
