@mixin stat {
  width: 100%;
  background: #202020;
  box-sizing: border-box;
  overflow: hidden;
}

@mixin frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 101px;
  padding-bottom: 102px;
  gap: 40px;
}

@mixin frame-head {
  color: #faeb49;
  font-family: DynaPuff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin frame-after {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  width: 524px;

  line-height: normal;
}

@mixin container-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 116px;
  height: 85px;
}

@mixin number {
  color: #fff;
  font-family: DynaPuff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin number-text {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin container-number__flex {
  display: flex;
  gap: 96px;
}

@mixin container-ellipse {
  position: relative;
  box-sizing: border-box;
  width: 268px;
  height: 512px;
}

@mixin first-ellipse {
  position: absolute;
  width: 268px;
  height: 512px;
  transform: rotate(-45deg);
  border-radius: 512px;
  border: 1px solid #737373;
}

@mixin second-ellipse {
  position: absolute;
  width: 268px;
  height: 512px;
  transform: rotate(45deg);
  border-radius: 512px;
  border: 1px solid #737373;
}
