@mixin container {
  margin: 0 auto;
  max-width: 1050px;
  // padding: 0 191px 0 191px;
}

@mixin container-tablet {
  margin: 0 auto;
  // padding: 0 33px 0 33px;
  max-width: 703px;
}

@mixin container-mobile {
  margin: 0 auto;
  // padding: 0 16px 0 16px;

  max-width: 342px;
}
